{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{/each}}

<form action="/admin/categorias/salvar" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" class="form-control" />
    <label for="slug">Slug</label>
    <input type="text" name="slug" id="slug" class="form-control" />
    <button type="submit" class="btn btn-success">Ok</button>
</form>